li {
    list-style: none;
    margin: 1.2em 0;

    background-color: #cecece38;
    border-radius: 5px;
    height: 50px;
    min-width: 280px;
    display: flex;
    align-items: center;
    padding: 1.2em 1.5em;

    svg {
        color: rgb(242, 71, 71);
        &:first-child {
            font-size: 1.2em;
            margin-right: 0.8em;
        }
    }

    p {
        flex: 1;
        font-size: 0.8rem;
    }

    .actions {
        justify-self: flex-end;
        cursor: pointer;

        .fa-spinner {
            font-size: 1.2em;
        }
    }
}
